@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>KinderFinder is a system that allows parents to keep track of their children whilst in a designated area. Such an area may be a restaurant, for example.
The children will wear wristbands that transmit their whereabouts, through radio-frequency, to the system. The parents can then view their children's location live, on their smartphones. </p>
