@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    KinderFinder was written by third-year Computer Science students at the University of Pretoria as their main project for the year.
    The software was requested by DVT and is intended to be used in restaurants (and possibly other areas).
    The developers are:
    <ul>
        <li>Po-Han Chiu</li>
        <li>Michael Johnston</li>
        <li>Uteshlen Nadesan</li>
    </ul>
</p>
