@model IEnumerable<AdminPortal.Models.Tag>

@{
    ViewBag.Title = "Reports";
}

<div class="jumbotron">
    <h1>Reports</h1>
    <p class="lead">
        Welcome to the KinderFinder reports page!<br />
        Here, you can view reports of the system.<br />
    </p>
    <p>
        Click one of the buttons to view a report.<br />
        @* Bad Way *@
        @*<a href="TagsReport" class="btn btn-primary btn-lg">Tags Report</a>
        <a href="AppUsersReport" class="btn btn-primary btn-lg">App Users Statistics</a>*@

        @* Good Way *@
        @Html.ActionLink("Tags Report", "TagsReport", null, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("App User Statistics", "AppUsersReport", null, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Zone Status Report", "ZonesReport", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
